/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   RESET STYLESHEET
*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ffffff;
}
ol, ul {
	list-style: none;
}
/* END OF RESET */

/* STUFF TO COLOR SECTIONS */
body {
	background-color: white;
}
nav {
	border-bottom: 1px solid #eaebec;
}
.content {
	padding: 0 15px;
	width: 970px;
	margin: 0 auto;
}
.top-navigation {
	background-color: #ffffff;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	z-index: 9999;
	font-weight: 300;

}
.top-navigation > .content {
	height: 70px;
	padding: 0 60px;
}
.top-navigation .logo {
	height: 70px;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
	color: #999999;
}
.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
.intro {
	background-image: url("../images/first-background.jpg");
	background-repeat: no-repeat;
	background-position: 0 bottom;
	background-size: 110%; /*how to stretch it, move forward*/
	height: 700px; /* 45.938*/
	width: auto;
	text-align: center;
}
.intro > .content {
	width: 834px;
	height: 100%;
	margin: 70px auto;
	color: #ffffff;
	padding: 150px 150px;
	font-weight: 300;
}
h1, h2, h3, figcaption {
	font-family: 'Roboto', sans-serif;
}
.content h1 {
	font-size: 3em;	
	margin: .5em;
	text-align: center;
	letter-spacing: 2px;
}
.content h3 {
	margin: .5em;
	text-align: center;
	font-size: 1.5em;
}
.big-button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	width: 150px;
	font-size: 1.1em;
	color: #ffffff;
	background-color: #FF5930;
	margin-top: .5em;
}
.big-button:hover {
	cursor: pointer;
	background-color: #FF3300;
}
.figure {
	display: inline-block;
}
.bottom {
	background-color: #ffffff;
}
.bottom > .content {
	width: 100%;
	padding-top: 4em;
	text-align: center;
	padding-bottom: 4em;
	font-weight: 300;
}
.bottom .content h2 {
	text-align: center;
	font-size: 2.5em;
	margin: 1em 1em;
}
.icon-box {
	width: 270px;
	display: inline-block;
	margin: auto auto;
}
figcaption {
	text-align: center;
	font-size: 1.5em;
	margin: 1.5em auto;
}
.social {
	background-color: #ffffff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.social .content h3 {
	font-size: 1em;
	margin-top: 1.5em;
}
hr {
	margin-top: 0;
	width: 810px;
}
.social .icons li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;
	display: inline-block;
}
.social .icons > li:hover {
	cursor: pointer;
}
.copyright {
	font-size: 0.9em;
	color: #838944;
	font-weight: 300;
}
footer {
	height: 300px;
}